<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>リスト</title>
</head>
<body>
    <tbody th:if="${staff_list.size() >= 1}">
        <tr th:each="staff : ${staff_list}" th:object="${staff}">
            <td><a href="#" th:text="${staff.employeeId}"></a></td>
            <td th:text="${staff.name}"></td>
            <td th:text="${staff.password}"></td>
            <td>
                <a href="#">変更</a>
                <a href="#">削除</a>
            </td>
        </tr>
    </tbody>
    <p><a th:href="@{/login}">トップページ</a></p>
</body>
</html>