<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>書籍一覧</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <div id="wrap">
        <header>
            <div class="container">
                <h1>書籍管理システムSpring版 Ver0.5</h1>
            </div>
        </header>
    </div>

    <div id="menu">
        <div class="container">
            <div id="nav">
                <ul>
                    <li><a href="#">[メニュー]</a></li>
                    <li><a href="/insert">[書籍登録]</a></li>
                </ul>
            </div>

            <div id="page_title">
                <h2>書籍一覧</h2>
            </div>
        </div>
    </div>

    <div id="main" class="container">

        <form class="inline-block" action="/search">
            ISBN<input type="text" name="isbn">
            TITLE<input type="text" name="title">
            価格<input type="text" name="price">
            <input type="submit" value="検索">
        </form>
        <form class="inline-block" action="/list">
            <input type="submit" value="全件表示">
        </form>

        <table class="list-table">
            <thead>
                <tr>
                    <th>ISBN</th>
                    <th>TITLE</th>
                    <th>価格</th>
                    <th>変更 / 削除</th>
                </tr>
            </thead>
            <tbody th:if="${book_list.size() >= 1}">
                <tr th:each="book : ${book_list}" th:object="${book}">
                    <td><a href="#" th:text="${book.isbn}"></a></td>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.price}"></td>
                    <td>
                        <a href="#">変更</a>
                        <a href="#">削除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <div class="container">
            <h4>Copyright&copy; 2018 All Right Reserbed.</h4>
        </div>
    </footer>
</body>
</html>